@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HomeIndexViewModel
<body>   

<h1>Anasayfa | Index - 1</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-3">
                <h2>Kategoriler</h2>
                <table class="table table-hover">
                    <thead>
                        @foreach (var categoryItem in Model.CategoryList)
                        {
                            <tr>
                                <th>@categoryItem.categoryName</th>
                            </tr>
                        }
                       
                    </thead>
                </table>
            </div>
            <div class="col-9">
                <h2>Ürünler</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                            <th>Stok</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var productItem in Model.ProductList)
                        {
                            <tr>
                                <td>@productItem.productName</td>
                                <td>@productItem.unitPrice</td>
                                <td>@productItem.unitsInStock</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
